@use "../variables";
@use "../mixins";

.checkbox-field__label {
  position: relative;
  display: block;
  padding-block: 10px;
  padding-inline: 62px 20px;

  @include mixins.medium-font($case: none);
  overflow-wrap: break-word;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 46px;
    height: 46px;
    transform: translateY(-50%);
    background-color: variables.$grey-color;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
}

.checkbox-field__input:checked ~ .checkbox-field__label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='rgba(51,51,51,1)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.805 1.307 20.76.222c-.285-.296-.856-.296-1.141 0L8.298 11.957 2.403 5.843c-.286-.296-.856-.296-1.142 0L.214 6.928c-.285.295-.285.887 0 1.183l7.419 7.692c.19.197.38.197.57.197.191 0 .381-.099.571-.197L21.615 2.49c.476-.296.476-.789.19-1.183Z'/%3E%3C/svg%3E");
}

.checkbox-field__input:hover ~ .checkbox-field__label::before,
.checkbox-field__input:focus-visible ~ .checkbox-field__label::before {
  background-color: variables.$hover-checkbox-color;
}

.checkbox-field__input:focus-visible {
  outline: none;
}

.checkbox-field__input:active ~ .checkbox-field__label::before {
  background-color: variables.$active-checkbox-color;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='rgba(51,51,51,0.3)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.805 1.307 20.76.222c-.285-.296-.856-.296-1.141 0L8.298 11.957 2.403 5.843c-.286-.296-.856-.296-1.142 0L.214 6.928c-.285.295-.285.887 0 1.183l7.419 7.692c.19.197.38.197.57.197.191 0 .381-.099.571-.197L21.615 2.49c.476-.296.476-.789.19-1.183Z'/%3E%3C/svg%3E");
}

.checkbox-field__input:disabled ~ .checkbox-field__label,
.checkbox-field__input:disabled:hover ~ .checkbox-field__label,
.checkbox-field__input:disabled:active ~ .checkbox-field__label {
  opacity: 0.3;

  &::before {
    background-color: variables.$grey-color;
  }
}
