@use "../variables";
@use "../mixins";

.checkbox-field__label {
  position: relative;
  display: block;
  padding-block: 10px;
  padding-left: 62px;

  @include mixins.medium-font($case: none);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 46px;
    height: 46px;
    transform: translateY(-50%);
    background-color: variables.$grey-color;
  }
}

.checkbox-field__input:checked ~ .checkbox-field__label::before {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border: 15px solid variables.$grey-color;
}
