@use "../variables";
@use "../mixins";
@use "./text-field";

.field-group {
  margin: 0;
  padding: 0;
  padding-block-end: 24px;
  border: none;
}

.field-group__legend {
  margin: 0;
  margin-block-end: 20px;
  padding: 0;
  padding-inline: 20px;

  @include mixins.medium-font;
  text-align: center;
}

.field-group__list {
  margin: 0;
  padding: 0;
  padding-inline: 20px;
  list-style-type: none;
}

.field-group__item {
  margin-block-end: 16px;

  &:last-child {
    margin: 0;
  }
}

.review-form__field-group.field-group {
  border-bottom: 1px solid variables.$grey-color-medium;
}

.review-form__field-group:first-child.field-group {
  padding-block-end: 39px;
}

.review-form__field-group:nth-child(2).field-group {
  padding-block-end: 34px;
}

@media (min-width: variables.$tablet-width) {
  .field-group {
    border-top: 1px solid #bdbdbd;
  }

  .review-form__field-group.field-group,
  .review-form__field-group:first-child.field-group,
  .review-form__field-group:nth-child(2).field-group {
    border-bottom: none;
    padding-block-end: 0;
  }

  :is(.field-group--checkbox-group, .field-group--radio-group) .field-group__list {
    display: grid;
    justify-content: center;
  }

  .field-group--radio-group .field-group__list {
    grid-template-columns: repeat(2, 280px);
    gap: 16px;
  }

  .field-group--checkbox-group .field-group__list {
    grid-template-columns: repeat(2, 224px);
    gap: 16px 32px;
  }

  :is(.field-group--checkbox-group, .field-group--radio-group) .field-group__item {
    margin-block-end: 0;
  }

  .row .field-group {
    border-top: none;
  }

  .field-group__legend {
    width: 400px;
    padding: 0;
    margin-block-end: 28px;

    @include mixins.large-font-size;
  }

  .row .field-group__legend {
    width: auto;
  }

  .field-group__list {
    padding: 0;
  }

  .row__column:first-child .field-group__list {
    padding-inline-end: 44px;
  }

  .row__column:last-child .field-group__list {
    padding-inline-start: 44px;
  }
}

@media (min-width: variables.$desktop-width) {
  .row__column:first-child .field-group__list {
    padding-inline-end: 64px;
  }

  .row__column:last-child .field-group__list {
    padding-inline-start: 64px;
  }

  .field-group--radio-group .field-group__list {
    grid-template-columns: repeat(3, 280px);
    gap: 28px;
    padding-block: 17px;
    padding-inline-start: 42px;
  }

  .field-group--checkbox-group .field-group__list {
    padding-block: 31px;
    padding-inline-start: 19px;
    grid-template-columns: 192px 190px 173px 204px; // Pixel Perfect ))
    gap: 44px;
  }

  .review-form__field-group:is(:first-child, :nth-child(2)).field-group {
    padding-block-end: 0;
  }
}
