@use "../variables";

.hero {
  padding-block: 52px 67px;
  padding-inline: 45px;
  background-color: #778591;
  background-position: left 50% bottom 0, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 901px 389px;

  @supports (background-image: image-set(url("") type(""))) {
    background-image:
      var(--hero-triangle),
      image-set(
        url("../img/mountains/mountains-back-mobile@1x.webp") type("image/webp"),
        url("../img/mountains/mountains-back-mobile@1x.jpg") type("image/jpeg")
      );
  }
  background-image:
    var(--hero-triangle),
    url("../img/mountains/mountains-back-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    @supports (background-image: image-set(url("") type(""))) {
      background-image:
        var(--hero-triangle),
        image-set(
          url("../img/mountains/mountains-back-mobile@2x.webp") type("image/webp"),
          url("../img/mountains/mountains-back-mobile@2x.jpg") type("image/jpeg")
        );
    }
    background-image:
      var(--hero-triangle),
      url("../img/mountains/mountains-back-mobile@2x.jpg");
  }
}

.hero--index {
  padding-block: 90px 85px;
  padding-inline: 20px;
  margin-block-end: 34px;
}

.hero__content {
  display: block;
  width: 282px;
  height: auto;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .hero {
    padding-block: 95px 117px;

    @supports (background-image: image-set(url("") type(""))) {
      background-image:
        var(--hero-triangle),
        image-set(
          url("../img/mountains/mountains-back-desktop@1x.webp") type("image/webp"),
          url("../img/mountains/mountains-back-desktop@1x.jpg") type("image/jpeg")
        );
    }
    background-image:
      var(--hero-triangle),
      url("../img/mountains/mountains-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      @supports (background-image: image-set(url("") type(""))) {
        background-image:
          var(--hero-triangle),
          image-set(
            url("../img/mountains/mountains-back-desktop@2x.webp") type("image/webp"),
            url("../img/mountains/mountains-back-desktop@2x.jpg") type("image/jpeg")
          );
      }
      background-image:
        var(--hero-triangle),
        url("../img/mountains/mountains-back-desktop@2x.jpg");

      background-size: auto, 1200px 518px;
    }
  }

  .hero--index {
    padding-block: 77px 91px;
  }

  .hero__content {
    width: 461px;
  }
}

@media (min-width: variables.$desktop-width) {
  .hero {
    padding-block: 103px 120px;
  }

  .hero--index {
    padding-block: 77px 91px;
  }
}
