@use "../variables";
@use "../mixins";

.html-academy-logo {
  display: block;

  @include mixins.normal-font;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;

  &:hover,
  &:focus-visible {
    outline: none;
    color: variables.$hover-text-color;
  }

  &:active {
    color: variables.$active-text-color;
  }
}

.html-academy-logo__image {
  margin-inline-start: 10px;
  vertical-align: middle;
}
