@use "../variables";
@use "../mixins";

.like__button {
  display: inline-block;
  width: 23px;
  height: 21px;
  vertical-align: bottom;
}

.like__counter {
  display: inline-block;
  margin: 0;

  @include mixins.normal-font($color: variables.$black, $weight: 700);
  vertical-align: bottom;
}

@media (min-width: variables.$desktop-width) {
  .like {
    color: variables.$white;
  }

  .like__counter {
    color: variables.$white;
  }
}
