@use "../variables";
@use "../mixins";

.like {
  margin: 0;

  @include mixins.normal-font($color: variables.$black, $weight: 700);
}

.like__icon {
  opacity: 0.3;
}

.like__counter {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: variables.$desktop-width) {
  .like {
    color: variables.$white;
  }

  .like__icon {
    opacity: 1;
  }
}
