.logo {
  display: inline-block;
}

.logo__image {
  display: block;
}

.logo:hover .logo__image,
.logo:focus-visible .logo__image {
  filter: opacity(0.8);
}

.logo:focus-visible {
  outline: none;
}

.logo:active .logo__image {
  filter: opacity(0.5);
}
