@use "../variables";
@use "../mixins";
@use "./html-academy-logo";
@use "./socials";

.main-footer {
  padding-block: 28px 23px;
  padding-inline: 20px;
}

.main-footer__hashtag {
  @include mixins.large-font;
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
}

.main-footer__socials-list {
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: variables.$tablet-width) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-block: 36px;
    padding-inline: 60px;
  }

  .main-footer__hashtag {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    z-index: 1;
  }

  .main-footer__socials-list {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .main-footer__html-academy-logo {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
  }
}

@media (min-width: variables.$desktop-width) {
  .main-footer {
    padding-inline: 120px;
  }
}
