@use "../variables";
@use "./logo";
@use "./main-navigation";

.main-header {
  position: relative;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__navigation {
  position: absolute;
  top: 0;
  width: 100%;
}


@media (min-width: variables.$tablet-width) {
  .main-header__navigation {
    position: static;
  }

}
