@use "../mixins";

.page__hero {
  margin-bottom: 32px;
}

.page__title {
  margin: 0;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;

  @include mixins.medium-font;
  text-align: center;
}

.page__description {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 28px;

  @include mixins.normal-font;
  text-align: center;
}
