@use "../variables";
@use "../mixins";

.page__container {
  display: flex;
  flex-direction: column;
  max-width: variables.$desktop-width;
  margin-block: 0;
  margin-inline: auto;
  min-height: 100%;
  background-color: variables.$white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page__main {
  flex-grow: 1;
}

.page__hero {
  margin-block-end: 32px;
}

.page--photo-video .page__hero {
  margin-block-end: 38px;
}

.page__title {
  margin-block: 0 25px;
  margin-inline: auto;
  max-width: 500px;
  padding-inline: 20px;

  @include mixins.medium-font;
  text-align: center;
  overflow-wrap: break-word;
}

.page--review-form .page__hero {
  margin-block-end: 37px;
}

.page--review-form .page__title {
  margin-block-end: 23px;
}

.page--review-form .page__description {
  margin-block-end: 27px;
}

.page__title--index {
  padding-inline: 30px;
  margin-block-end: 36px;
}

.page__description {
  padding-inline: 20px;
  max-width: 445px;
  margin-block: 0 36px;
  margin-inline: auto;

  @include mixins.normal-font;
  text-align: center;
  overflow-wrap: break-word;
}

@media (min-width: variables.$tablet-width) {
  .page__hero {
    margin-block-end: 47px;
  }

  .page--review-form .page__hero {
    margin-block-end: 57px;
  }

  .page--index .page__hero {
    margin-block-end: 48px;
  }

  .page__title {
    margin-block-end: 25px;

    @include mixins.extra-large-font-size;
  }

  .page--review-form .page__title {
    margin-block-end: 16px;
  }

  .page__title--index {
    margin-block-end: 29px;

    @include mixins.large-font-size;
  }

  .page--photo-video .page__hero {
    margin-block-end: 59px;
  }

  .page__description {
    margin-block-end: 81px;
  }

  .page--review-form .page__description {
    margin-block-end: 106px;
  }
}

@media (min-width: variables.$desktop-width) {
  .page__hero {
    margin-block-end: 59px;
  }

  .page--review-form .page__hero {
    margin-block-end: 106px;
  }

  .page--photo-video .page__hero {
    margin-block-end: 90px;
  }

  .page--index .page__hero {
    margin-block-end: 59px;
  }

  .page--review-form .page__title {
    margin-block-end: 25px;
  }

  .page__description {
    margin-block-end: 90px;
  }

  .page--review-form .page__description {
    margin-block-end: 69px;
  }
}
