@use "../variables";
@use "../mixins";
@use "./like.scss";

.photo {
  display: flex;
  flex-direction: column;
  padding-block-start: 24px;
  padding-inline: 20px;
}

.photo__description {
  padding-block: 15px 25px;
}

.photo__title {
  margin: 0;
  margin-block-end: 1px;

  @include mixins.normal-font(variables.$black, 700);
  overflow-wrap: break-word;
}

.photo__author {
  margin: 0;
  margin-block-end: 11px;

  @include mixins.normal-font($case: none);
  overflow-wrap: break-word;
}

.photo__image-link {
  display: block;
  order: -1;
}

.photo__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (min-width: variables.$tablet-width) {
  .photo {
    padding: 0;
  }

  .photo__image {
    height: 267px;
  }

  .photo__description {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: repeat(2, min-content);
    column-gap: 20px;
    padding-inline: 20px;
    padding-block: 22px 15px;
    background-color: variables.$grey-color;
  }

  .photo__author {
    margin: 0;
  }

  .photo__like {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    justify-self: end;
    align-self: center;
    margin-block-end: 5px;
  }

  .gallery__item:first-child .photo__image {
    height: 400px;
  }
}

@media (min-width: variables.$desktop-width) {
  .photo {
    position: relative;
  }

  .photo__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 60%;
    background-color: rgba(variables.$black, 0.3);
    overflow-y: auto;
  }

  .photo__like {
    margin-block-end: 2px;
  }

  .photo__title {
    color: variables.$white;
  }

  .photo__author {
    color: variables.$white;
  }
}
