@use "../variables";
@use "../mixins";
@use "./row";
@use "./field-group";
@use "./textarea-field";
@use "./radio-field";
@use "./checkbox-field";

.review-form {
  margin-block-end: 27px;
  border-top: 1px solid variables.$grey-color-medium;
}

.review-form__field-group {
  margin-block-start: 24px;
}

.review-form__note {
  text-align: end;
  margin: 0;

  font-family: variables.$main-font-family;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.review-form__emotions-field {
  margin-block-end: 32px;
}

.review-form__footer {
  padding-inline: 20px;
  margin: 0 auto;
  max-width: variables.$tablet-width;
}

.review-form__submit-button {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: variables.$tablet-width) {
  .review-form {
    border: none;
    padding-inline: 60px;
    margin-block-end: 64px;
  }

  .review-form__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
  }

  .review-form__row .review-form__field-group,
  .review-form__field-group {
    margin-block: 0;
  }

  .review-form__row,
  .review-form__field-group {
    margin-bottom: 48px;
  }

  .review-form__note {
    margin-block-start: 8px;

    @include mixins.normal-font-size;
  }

  .review-form__emotions-field {
    margin-block: -5px 23px;
  }

  .review-form__submit-button.button {
    padding-block: 20px 12px;
    padding-inline-end: 32px;
  }
}

@media (min-width: variables.$desktop-width) {
  .review-form {
    padding-inline: 120px;
  }

  .review-form__row,
  .review-form__field-group {
    margin-block-end: 56px;
  }

  .review-form__emotions-field {
    margin-block: 0 24px;
  }
}
