@use "../variables";
@use "../mixins";

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: variables.$main-color;
  fill: variables.$white;

  &:is(:hover, :focus-visible) {
    background-color: variables.$hover-button-color;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    @include mixins.button-active;

    .social-button__icon {
      opacity: 0.3;
    }
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:focus-visible,
  &--disabled:active {
    color: variables.$white;
    background-color: variables.$disabled-button-color;
  }
}
