@use "../variables";
@use "../mixins";
@use "./video-player";

.suggestion {
  padding-top: 17px;
}

.suggestion__title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-inline: 20px;
  max-width: 445px;

  @include mixins.large-font;
  text-align: center;
}

.suggestion__description {
  margin: 0 auto;
  margin-bottom: 38px;
  padding-inline: 20px;
  max-width: 445px;

  @include mixins.normal-font;
  text-align: center;
}

@media (min-width: variables.$tablet-width) {
  .suggestion {
    padding-block: 58px 40px;
  }

  .suggestion__title {
    @include mixins.extra-large-font-size;
  }

  .suggestion__video {
    width: 648px;
    height: 500px;
    margin: 0 auto;
  }

  .suggestion__description {
    margin-bottom: 66px;
  }
}

@media (min-width: variables.$desktop-width) {
  .suggestion__video {
    width: 800px;
  }
}
