@use "../variables";
@use "../mixins";

.textarea-field {
  padding-top: 24px;
  border-top: 1px solid variables.$grey-color;
  padding-inline: 20px;
}

.textarea-field__label {
  display: block;
  margin-bottom: 20px;

  @include mixins.medium-font;
  text-align: center;
}

.textarea-field__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 16px;
  resize: none;

  @include mixins.medium-font($case: none);

  border: none;
  background-color: variables.$grey-color;

  &::placeholder {
    color: rgba(variables.$black, 0.3);
  }
}
