@use "../variables";
@use "../mixins";

.text-field__label {
  display: block;
  padding-left: 15px;

  @include mixins.normal-font;
}

.text-field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;

  @include mixins.medium-font;

  background-color: variables.$grey-color;
  border: none;

  &::placeholder {
    color: rgba(variables.$black, 0.3);
  }
}
