@use "../variables";
@use "../mixins";

.textarea-field {
  padding-block: 24px;
  padding-inline: 20px;
  border-top: 1px solid variables.$grey-color;
}

.textarea-field__label {
  display: block;
  margin-bottom: 20px;

  @include mixins.medium-font;
  text-align: center;
}

.textarea-field__input {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: variables.$tablet-width;
  min-height: 150px;
  padding: 16px;
  resize: none;

  @include mixins.medium-font($case: none);

  border: none;
  background-color: variables.$grey-color;

  &::placeholder {
    color: rgba(variables.$black, 0.3);
  }

  &:hover,
  &:focus-visible {
    background-color: variables.$hover-text-field;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    @include mixins.text-field-active;
  }
}

@media (min-width: variables.$tablet-width) {
  .textarea-field {
    padding-block-start: 0;
    padding-inline: 0;
    border-top: none;
  }

  .textarea-field__label {
    width: max-content;
    max-width: 400px;
    margin-inline: auto;
    margin-block-end: 28px;

    @include mixins.large-font-size;
    overflow-wrap: break-word;
  }

  .textarea-field__label-decoration {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      display: block;
      height: 1px;
      background-color: #bdbdbd;
    }

    &::before {
      left: 0;
      right: calc(50% + 200px);
    }

    &::after {
      left: calc(50% + 200px);
      right: 0;
    }
  }

  .textarea-field__input {
    height: 160px;
  }
}
