@use "../variables";

.video-player {
  position: relative;
}

.video-player__preview {
  display: block;
  width: 100%;
  object-fit: cover;
}

.video-player__play-button {
  position: absolute;
  inset: 0;
  padding: 0;
  font-size: 30px;
  color: variables.$white;
  border: none;
  background-color: transparent;
}
