@use "./variables";

:root {
  --menu-button-open: #{variables.$menu-button-open};
  --menu-button-close: #{variables.$menu-button-close};
  --hero-triangle: #{variables.$hero-triangle};
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: variables.$grey-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
