$main-font-family: "PT Sans", "Arial", sans-serif;

$main-color: #81b3d3;
$main-color-medium: #669ec0;
$main-color-dark: #5496bd;

$grey-color: #f2f2f2;
$grey-color-medium: #e5e5e5;
$grey-color-dark: #d5d5d5;

$white: #ffffff;
$black: #000000;
